body {
    background-color: #000;
    color: #fff;
    font-family: 'Darker Grotesque', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.cintilla {
    background-color: #0474ef;
    color: #fff;
    text-align: left;
    padding: 10px 20px;
}

.menu {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.menu .logo {
    /* Aquí puedes agregar el logo de MOVONTE */
}

.menu .menu-items {
    display: flex;
    align-items: center;
}

.menu .menu-items a {
    color: #fff;
    margin-right: 20px;
    text-decoration: none;
}

.menu .menu-items .button {
    background-color: #69AAF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.menu .menu-items .button:hover {
    transform: scale(1.1);
    background-color: #FC5e51;
}

.portada {
    position: relative;
    text-align: left;
}

.portada img {
    width: 100%;
    height: auto;
    display: block;
}

.contenido-portada {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
}

.contenido-portada h1 {
    font-size: 3em;
}

.contenido-portada p {
    font-size: 1.5em;
    margin-top: 20px;
}

.contenido-portada .button {
    background-color: #fc5e51;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s;
    margin-top: 20px;
    text-decoration: none;
}

.contenido-portada .button:hover {
    transform: scale(1.1);
}

.content {
    text-align: center;
    padding: 50px 20px;
}

.content p {
    text-align: justify;
    margin-bottom: 50px;
}

.imagen-espacio {
    text-align: center;
    margin: 20px 0;
}

.contact {
    text-align: center;
    padding: 20px 0;
}

.contact a {
    margin: 0 10px;
    color: #69AAff;
    transition: transform 0.3s, color 0.3s;
}

.contact a:hover {
    transform: scale(1.1);
    color: #fc5e51;
}

.cintilla-footer {
    background-color: #0474ef;
    text-align: center;
    padding: 10px 20px;
}

footer {
    text-align: center;
    padding: 10px 20px;
}